h1{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

p{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color:#a5a5a5;
}


span{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color:#a5a5a5;
}

/*font-family: 'Raleway', sans-serif;
  font-weight: 600;*/
.image{
  background: url("https://images.unsplash.com/photo-1502903111624-e54eb7c34ee4");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.container {
  display: grid;
  grid-template-columns: 40px auto 50px auto 40px;
}

.left-content{
  grid-column-start:2;
  grid-column-end: 2;
}

.right-content{
  background: url("https://images.unsplash.com/photo-1502903111624-e54eb7c34ee4");
  grid-column-start:4;
  grid-column-end: 4;
  background: aquamarine;
}
