<div class="fl w-100 pa2">
  <div class="fl w-50 pa2">
    <span>SYDNEY AUSTRALIA</span>
    <h1>Bondi Beach</h1>
  <p>One of the most famous beach in Sydney and possibly in Australia. This swimming pool laying right next to the ocean has been already photographed on Instagram so many times that it would be impossible to not visit it while I was in Sydney. It's called Bondi Icebergs Pool the entry fee is $6 for the full day. Even though there is a massive beach next to the pool you can still see that many people are enjoying this more 'private' option.</p>
  <p>I was lucky to catch it on hot and shiny day in early Australian Autumn in March. I really liked the vibes around here!</p>
  <a href="#0" class="f5 no-underline bg-black white inline-flex items-center pa3 ba border-box mr4">
      <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>chevronLeft icon</title>
        <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
      </svg>
    <span class="pl1">Previous</span>
  </a>
  <p>Full preview and all pictures taken/designed by @janlosert</p>
  </div>
  <div class="fl w-50 pa2 image">

  </div>
</div>

<div class="nav"></div>
